---
layout: default
---

<header class="post-header">
    <h1 class="post-title" style="color: #ca7139;"><b>Schedule</b></h1>
</header>

{{ content }}

<div class="table table-striped table-bordered" id="schedule" style="margin-top: 20px">
    <br>
    <table class="table" >
        <thead>
            <tr class="active">
                <th width =10% scope="col" ><b>Date</b></th>
	            <th width =40% scope="col" ><b>Title</b></th>
	            <th width =15% scope="col" ><b>Slides</b></th>	 
	            <th width =20% scope="col" ><b>Timeline</b></th>
	            <th width =20% scope="col" ><b>Extra Reading</b></th>
            </tr>
        </thead>
        <tbody>
        <tr bgcolor="#0CD3DD">
                <th colspan=5 align="center" style="vertical-align:middle;">FUNDAMENTALS</th>
        </tr>
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 1</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">24-07-24</td>
                <td align="center"><b>Introduction to Graph Machine Leanring + Course logistics</b></td>
                <td align="center">
                    <a href="give link here" target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">25-07-24</td>
                <td align="center"><b>ML-DL Basics</b></td>
                <td align="center">
                    <a href=" " target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">26-07-24</td>
                <td align="center"><b>ML-DL Basics</b></td>
                <td align="center">
                    <a href=" " target="_blank"><b>PDF</b></a>
                </td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 2</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">31-07-24</td>
                <td align="center"><b> Basics of Graphs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">01-08-24</td>
                <td align="center"><b>Traditional Graph ML</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">02-08-24</td>
                <td align="center"><b>Spectral Graph Theory</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 3</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">07-08-24</td>
                <td align="center"><b>Spectral Graph Theory</b></td>
                <td align="center"></td>
                <td align="center"><b>Assignment-1 [will be announced]</b></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">08-08-24</td>
                <td align="center"><b>Shallow Representation Learning + DeepWalk</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">09-08-24</td>
                <td align="center"><b>Shallow Representation Learning + Node2vec</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 4</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">14-08-24</td>
                <td align="center"><b>Shallow Representation Learning + HNE</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#F6A392">
                <td align="center">15-08-24</td>
                <td align="center"><b>Holiday [Independence Day]</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">16-08-24</td>
                <td align="center"><b>Shallow Representation Learning + Metapath2vec</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 5</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">21-08-24</td>
                <td align="center"><b>Graph Neural Networks (GNNs)</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">22-08-24</td>
                <td align="center"><b>Graph Neural Networks (GNNs)</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">23-08-24</td>
                <td align="center"><b>Graph Neural Networks (GNNs)</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 6</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">28-08-24</td>
                <td align="center"><b>Expressive Power of GNNs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">29-08-24</td>
                <td align="center"><b>Expressive Power of GNNs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">30-08-24</td>
                <td align="center"><b>Recap (to be decided)</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 7</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">04-09-24</td>
                <td align="center"><b>Graph Pooling Methods</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">05-09-24</td>
                <td align="center"><b>Graph Pooling Methods</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">06-09-24</td>
                <td align="center"><b>Graph Pooling Methods</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 8</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">11-09-24</td>
                <td align="center"><b>GRL for Complex Graphs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">12-09-24</td>
                <td align="center"><b>GRL for Complex Graphs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">13-09-24</td>
                <td align="center"><b>GRL for Complex Graphs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#F6A392">
                <th colspan=5 align="center" style="vertical-align:middle;">Examination Week</th>
        </tr>

            <tr bgcolor="#da7b93">
                <td align="center">17-09-24
                    <br>
                    to
                    <br>
                    25-09-24
                </td>
                <td align="center"><b>Mid Semester Examination</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
        
        <tr bgcolor="#0CD3DD">
                <th colspan=5 align="center" style="vertical-align:middle;">FRONTIER</th>
        </tr>
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 9</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">26-09-24</td>
                <td align="center"><b>Graph Foundational Models</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">27-09-24</td>
                <td align="center"><b>Graph Foundational Models</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 10</th>
        </tr>

            <tr bgcolor="#F6A392">
                <td align="center">02-10-24</td>
                <td align="center"><b>Holiday (Gandhi Jayanti)</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">03-10-24</td>
                <td align="center"><b>Graph Foundational Models</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">04-10-24</td>
                <td align="center"><b>Graph Foundational Models</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
        

        <tr bgcolor="#F6A392">
                <th colspan=5 align="center" style="vertical-align:middle;">Mid Semester Break</th>
        </tr>

            <tr bgcolor="#da7b93">
                <td align="center">05-10-24
                    <br>
                    to
                    <br>
                    13-10-24
                </td>
                <td align="center"><b>Autumn Semester Break</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
    
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 11</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">16-10-24</td>
                <td align="center"><b>Geometric GNNs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">17-10-24</td>
                <td align="center"><b>Geometric GNNs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">18-10-24</td>
                <td align="center"><b>Geometric GNNs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 12</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">23-10-24</td>
                <td align="center"><b>Adversarial GNNs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">24-10-24</td>
                <td align="center"><b>Adversarial GNNs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">25-10-24</td>
                <td align="center"><b>Adversarial GNNs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#0CD3DD">
                <th colspan=5 align="center" style="vertical-align:middle;">APPLICATIONS</th>
        </tr>
        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 13</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">30-10-24</td>
                <td align="center"><b>Knowledge Graphs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#F6A392">
                <td align="center">31-10-24</td>
                <td align="center"><b>Holiday</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">01-11-24</td>
                <td align="center"><b>Knowledge Graphs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 14</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">06-11-24</td>
                <td align="center"><b>Knowledge Graphs</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">07-11-24</td>
                <td align="center"><b>Data Mining Applications</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">08-11-24</td>
                <td align="center"><b>Data Mining Applications</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        <tr bgcolor="#CCCCFF">
                <th colspan=5 align="center" style="vertical-align:middle;">Week 15</th>
        </tr>

            <tr bgcolor="#ECEFF1">
                <td align="center">13-11-24</td>
                <td align="center"><b>Data Mining Applications</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td align="center">14-11-24</td>
                <td align="center"><b>Data Mining Applications</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
            <tr bgcolor="#F6A392">
                <td align="center">15-11-24</td>
                <td align="center"><b>Holiday</b></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>

        </tbody>
    </table>
</div>
