---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="row">
    <div class="col-sm-12">
      <h2 style="color: #a52a2a;">Tentative Course Schedule</h3>
	  <table class="table table-striped table-bordered">
	  <thead>
	  <tr>
	  <th scope="col" >Date</th>
	  <th scope="col" >Title</th>
	  <th scope="col" >Slides</th>	 
	  <th scope="col" >Video</th>
	  <th scope="col" >Extra Reading</th>
	  </tr>
	  </thead>
	  <tbody>

	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 1</th>
	  </tr>
	  <tr>
	        <td >10-01-22</td>
	  		<td >Introduction: Web to Semantic Web</td>
	  		<td >
				<a href="https://github.com/plaban/plaban.github.io/blob/5ac3709f313731be59c51489fe508d7aaf7b96c1/KMSWT_22/01a.%20Introduction.pptx">Introduction [PPTX]</a><br>
	  			<a href="https://github.com/plaban/plaban.github.io/blob/5ac3709f313731be59c51489fe508d7aaf7b96c1/KMSWT_22/02a.%20Introduction-to-semantic-web-technologies.pptx">Web to Web of Data [PPTX]</a>
		  	<td >
				<a href="https://www.youtube.com/watch?v=-LAyRLK0QjQ">Introduction [Video]</a><br>
				<a href="https://www.youtube.com/watch?v=dh8txtLb6EU">Web of Data - I [Video]</a><br>
				<a href="https://www.youtube.com/watch?v=pIvyRGmV2Aw">Web of Data - II [Video]</a>
		  	</td>
	  		<td>
				<ui>
					<li><a href="https://www.youtube.com/watch?v=OM6XIICm_qo&t=469s">The Next Web of Open, Linked Data - Tim Berners-Lee [TED TALK]</li>
					<li><a href="https://www-sop.inria.fr/acacia/cours/essi2006/Scientific%20American_%20Feature%20Article_%20The%20Semantic%20Web_%20May%202001.pdf">The Semantic Web - Tim Berners-Lee, 2001</a></li>
					<li><a href="https://cacm.acm.org/magazines/2021/2/250085-a-review-of-the-semantic-web-field/fulltext?mobile=false">A Review of the Semantic Web Field - Pascal Hitzler, 2021</a></li>
				<ui>
		  	</td>
	  </tr>
	  <tr>
	        <td >11-01-22</td>
	  		<td >SW Technology Stack (The Layer Cake)</td>			
	  		<td ><a href="https://github.com/plaban/plaban.github.io/blob/5ac3709f313731be59c51489fe508d7aaf7b96c1/KMSWT_22/02b.%20Semantic-Web-Vision-Architecture.pptx">Semantic Web Vision & Architecture [PPTX]</a></td>			
	  		<td >				
				<a href="https://www.youtube.com/watch?v=1UeUlWtJscs">Semantic Web Vision and Architecture - I [Video]</a>				
		  	</td>  
			<td>
				<a href="https://lod-cloud.net/">Linked Open Data (LOD) Cloud</a><br>
				<a href = "https://www.youtube.com/watch?v=oKiXpO2rbJM">Why the Semantic Web will never work?</a>
		        </td>	  		
	  </tr>
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 2</th>
	  </tr>
	  <tr>
	        <td >17-01-22</td>
	  	<td>SW Technology Stack (The Layer Cake)</td>	  		
		<td>-</td>
		<td><a href="https://www.youtube.com/watch?v=86DZTyuVKk4">Semantic Web Vision and Architecture - II [Video]</a></td>
		<td><a href="https://www.youtube.com/watch?v=fmhHCGQdsQQ">Semantic Web Concept Map [Video]</td>		
	  </tr>

	  <tr>
	        <td >18-01-22</td>
	  	<td>RDF+RDFS</td>	  		
	  	<td><a href="https://github.com/plaban/plaban.github.io/blob/d02320936fe7e6d13d6c74103968823cd9450ec1/KMSWT_22/04a.%20Resource%20Description%20Framework.pptx">RDF+RDFS [PPTX]</td>
	  	<td>
			<a href="https://www.youtube.com/watch?v=Kj7qJQT31Wc">RDF+RDFS - I [Video]</a><br>				
			<a href="https://www.youtube.com/watch?v=E_fLnyPj2Y8">RDF+RDFS - II [Video]</a>
		</td>
		<td></td>
	  </tr>

	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 3</th>
	  </tr>
	  <tr>
	        <td >24-01-22</td>
	  		<td>Semantics of RDF(S)</td>	  		
		  	<td>
				<a href="https://github.com/plaban/plaban.github.io/blob/18ab80ec7e488bafa426f8bb967fe486e31cd971/KMSWT_22/04b.%20Elements-of-Logic.pptx">Elements of Logic [PPTX]</a><br>
				<a href="https://github.com/plaban/plaban.github.io/blob/18ab80ec7e488bafa426f8bb967fe486e31cd971/KMSWT_22/04c.%20RDF-Logic.pptx">RDFS Inference [PPTX]</a>
		  	</td>
	  		<td>
				<a href="https://www.youtube.com/watch?v=8V1MRbngWp4">Elements of Logic</a></br>
				<a href="https://www.youtube.com/watch?v=w_bmucjgj5s">RDFS Inference - Part I</a>
				
		  	</td>	  		
			<td></td>
	  </tr>
	  <tr>
	        <td >25-01-22</td>
	  		<td>Semantic of RDF(S) </td>		
			<td>-</td>
			<td><a href="https://www.youtube.com/watch?v=aEjRiWuwLSs">RDFS Inference - Part II</a></td>
			<td>
				<a href="https://www.youtube.com/watch?v=22o5qgpi6oc">RDF Processing with RDFLib [Tutorial]</a></br>
		  		<a href="https://github.com/RDFLib/rdflib">RDFLib Library</a>
		  	</td>
	  </tr>
	  
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 4</th>
	  </tr>
	  <tr>
	        <td >31-01-2022</td>
	  		<td>RDF KB Querying - SPARQL </td>	  		
			<td>
				<a href="https://github.com/plaban/plaban.github.io/blob/ccdf622a9a8dfeaefd60846578cc2b04c2c2287d/KMSWT_22/04d.%20SPARQL.pptx">SPARQL [PPTX]</a>							
		        </td>
	  		<td>
				<a href="https://www.youtube.com/watch?v=SLU4udUkagY">SPARQL - I</a>
			</td>		
	  		<td>
				
				<a href="https://www.youtube.com/watch?v=fI3u0ABgku8">SPARQL - Concept Map</a><br>
				<a href="https://jena.apache.org/documentation/query/"> Apache Jena ARQ [SPARQL Tool]</a>
		  	</td>
			
	  </tr>
	  <tr>
	        <td >01-02-22</td>
	  		<td>RDF KB Querying - SPARQL</td>	  		
			<td>-</td>
			<td>
				<a href="https://www.youtube.com/watch?v=QBqM6At53OQ">SPARQL - II</a><br>
		        </td>
			<td>
				<a href="https://www.youtube.com/watch?v=YAqlDLCU1Gg">Querying Dbpedia and Wikidata [Hands-on]</a>
		        </td>
	  </tr>
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 5</th>
	  </tr>
	  <tr>
	        <td >07-02-22</td>
	  		<td>RDF KB Querying - SPARQL </td>	  		
		  	<td>				
		        </td>
	  		<td>
				<a href="https://www.youtube.com/watch?v=NybA62SMk7E">SPARQL - III</a><br>
				<a href="https://www.youtube.com/watch?v=lyvKhjVper8">SPARQL - IV</a>	
		  	</td>		
			<td>
				<a href="https://www.youtube.com/watch?v=IytUwdBqUqo">SPARQL Algebra - I</a><br>
				<a href="https://www.youtube.com/watch?v=QrzYdNWC2_Y">SPARQL Algebra - II</a><br>
				<a href="https://www.youtube.com/watch?v=2tItNIEZMfo">SPARQL Algebra - III</a>
		        </td>
	  </tr>
	  <tr>
	        <td >08-02-22</td>
	  		<td>Web Ontology Language (OWL) </td>	  		
		  	<td>
				<a href="https://github.com/plaban/plaban.github.io/blob/b6b04a7d99ecc5c7f5d16aeea638ec884c7b8202/KMSWT_22/05a.%20Introduction-OWL.pptx">OWL [PPTX]</a></td>
	  		<td>
				<a href="https://www.youtube.com/watch?v=t6k1l0ueB3Y">OWL - Part I</a>
		  	</td>		
			<td><a href="https://www.w3.org/TR/owl-features/">OWL - W3C Documentation</a></td>
	  </tr>
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 6</th>
	  </tr>
	  <tr>
	        <td >14-02-22</td>
	  		<td>Web Ontology Language (OWL) </td>	  		
		  	<td>-</td>
	  		<td>
				<a href="https://www.youtube.com/watch?v=TiNHG61ZcII">OWL - Part II</a>				
		  	</td>		
			<td></td>
	  </tr>
	  <tr>
	        <td >15-02-22</td>
	  		<td>OWL Tutorial Problems</td>	  		
		  	<td><a href="https://github.com/plaban/plaban.github.io/blob/6eb5cac02c518ad4c6cc7845346d9b679c06242e/KMSWT_22/05b.%20OWL-Tutorial-Problems.pptx">OWL Tutorial Problems [PPTX]</a></td>
	  		<td>
				<a href="https://www.youtube.com/watch?v=Zp9MAV_YehY">OWL Tutorial - Part I</a><br>
				<a href="https://www.youtube.com/watch?v=0uKRfavfysg">OWL Tutorial - Part II</a><br>
				<a href="https://www.youtube.com/watch?v=JfRd1lgWrlw">OWL Tutorial - Part III</a><br>
		  	</td>		
			<td></td>
	  </tr>
	  
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 7</th>
	  </tr>
	  <tr style="background-color:#ff9966">
	        <td ><b>21-02-22 (1st)</b></td>
	  		<td><b>TEST I (30%) (SW Tech stack + RDF(S) + SPARQL)</b> </td>
	  		
			<td></td>	
			<td></td>
			<td></td>
	  </tr>
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 8</th>
	  </tr>
	  <tr>
	        <td>28-02-22</td>
	  		<td>OWL Tutorial Problems</td>	  				
			<td>-</td>
			<td>-</td>
			<td></td>
	  </tr>
	  <tr>
	        <td>01-03-22</td>
	  		<td>Ontology Development with Protege</td>	  				
			<td><a href="https://github.com/plaban/plaban.github.io/blob/7bf450bb703dc027ca27b954041a074711c52d0f/KMSWT_22/05c.%20Protege_Tutorial.pptx">Protege Tutorial [PPTX]</a></td>
			<td>
				<a href="https://www.youtube.com/watch?v=eqs_hIOchVs">Protege Tutorial - I</a><br>
				<a href="https://www.youtube.com/watch?v=DJ2dYpjd-qc">Protege Tutorial - II</a><br>
				<a href="https://www.youtube.com/watch?v=Bfhk9vlUddY">Protege Tutorial - III</a><br>
				<a href="https://www.youtube.com/watch?v=SJeoa7YkpLw">Protege Tutorial - IV</a>
		  	</td>
			<td>ASGN-III Announcement</td>
	  </tr>
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 9</th>
	  </tr>
	  <tr>
	        <td >07-03-22</td>
	  		<td>Ontology Engineering Concepts+<br>AI Ontology Case Study</td>
	  				
			<td><a href="https://github.com/plaban/plaban.github.io/blob/fdd02ed384c269352773cb224595d931f5e98467/KMSWT_22/06.%20Ontology_Engineering.pptx">Ontology Engneering Methodology [PPTX]</a></td>
			<td>
				<a href="https://github.com/plaban/plaban.github.io/blob/eec3054fbb5018168bc87f94e514ff455b140082/KMSWT_22/ai_knowledge.owl">AI Knowledge Ontology [OWL]</a>
		        </td>
			<td>
				<a href="https://oa.upm.es/3879/2/MARIA_DEL-_CARMEN_SUAREZ_DE_FIGUEROA_BAONZA.pdf">Neon OE Methodology [Thesis]</a><br>
				<a href="https://link.springer.com/chapter/10.1007/978-3-642-24794-1_2">Neon OE Methology [Paper]</a>
		        </td>
	 <tr>
	        <td >08-03-22</td>
	  		<td>Introduction to Computational Logic</td>
	  				
			<td><a href="https://github.com/plaban/plaban.github.io/blob/08bd796af1a3bd1558474e4a865d43bb1144aa6a/KMSWT_22/06a.%20Intr-Computational-Logic.pptx">Intro to Computational Logic [PPTX]</a></td>
			<td>
				<a href="https://www.youtube.com/watch?v=aWkVFlAY00c">First-Order-Logic - I [Video]</a><br>
				<a href="https://www.youtube.com/watch?v=mrr8GNvZ4DY">First-Order-Logic - II [Video]</a><br>
		 	</td>
			<td></td>
	  </tr>
	  </tr>
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 10</th>
	  </tr>
	  <tr>
	        <td >14-03-22</td>
	  		<td>Introduction to Description Logic</td>		  		
			<td>
				<a href="https://github.com/plaban/plaban.github.io/blob/53a44e7b0a02581b961fb3fc5d365e821857ce2b/KMSWT_22/06b.%20Intro-Description-Logic.pptx">Intro to DL [PPTX]</a><br>
				<a href="https://github.com/plaban/plaban.github.io/blob/53a44e7b0a02581b961fb3fc5d365e821857ce2b/KMSWT_22/06c.%20Description-Logic-Semantics.pptx">Semantic of DL [PPTX]</a><br>
			</td>
			<td>
				<a href="https://www.youtube.com/watch?v=71Ava-zuC-U">Intro to DL [Video]</a><br>
				<a href="https://www.youtube.com/watch?v=2RCBhtOB3Bs">Semantics of DL [Video]</a>
			</td>
			<td></td>
			
	  </tr>
	  
	  <tr>
	        <td >15-03-22</td>
	  		<td>Semantics of Description Logic</td>
	  		
			<td>
				<a href="https://github.com/plaban/plaban.github.io/blob/f76baec0dfc44a375eced9885b379f440b09aef2/KMSWT_22/06d.%20Description-Logic-and-FOL.pptx">DL Semantics - DL to FOL [PPTX]</a>
		  	</td>
			<td>-</td>
			<td>-</td>
			
	  </tr>
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 11</th>
	  </tr>
	  	  <tr style="background-color:#ff9966">
	        <td ><b>21-03-22</b></td>
	  		<td><b>TEST II (10%) (OWL)</b> </td>	  		
			<td></td>	
			<td></td>
			<td></td>
	  <tr>
	        <td >22-03-22</td>
	  		<td>Description Logic Families</td>	  		
			<td>
				<a href="https://github.com/plaban/plaban.github.io/blob/5931153720c7ccc8c4bcf52b8a97d64b2394fc5c/KMSWT_22/06e.%20Description-Logic-Family-1.pptx">Description Logic Families [PPTX]</a>
		  	</td>  
			<td>
				<a href="https://www.youtube.com/watch?v=5bGbi9DOpik">Description Logic Families [Video] </a>
		  	</td>
			<td>-</td>			
	  </tr>
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 12</th>
	  </tr>
	  
	  <tr>
	        <td >28-03-22</td>
	  		<td>Reasoning with Description Logic</td>
	  		
			<td>
				<a href="https://github.com/plaban/plaban.github.io/blob/c20c6395f1a3093461ec0fac1bb0af01c4253d62/KMSWT_22/07a.%20DL-Reasoning-Generic.pptx">DL Reasoning - Generic [PPTX]</a><br>
				<a href="https://github.com/plaban/plaban.github.io/blob/d2545276112ee23b899e270b7abb8342f869553e/KMSWT_22/07b.%20ALCN-Reasoning-notes.pdf">ALCN Reasoning [PDF]</a>
		  	</td>
			<td>
				<a href="https://www.youtube.com/watch?v=5_CXG6LktyE"> DL Reasoning - Generic - Part I [Video]</a><br>
				<a href="https://www.youtube.com/watch?v=w1tXFyrt7ok"> DL Reasoning - Generic - Part II [Video]</a><br>
				<a href="https://www.youtube.com/watch?v=_-5JWBmik3c"> ALCN Reasoning - Part I [Video]</a><br>
				<a href="https://www.youtube.com/watch?v=kj7SAh_BmZI"> ALCN Reasoning - Part II [Video]</a>
		  	</td>
			<td></td>
	  </tr>
	  <tr>
	        <td >29-03-22</td>
	  		<td>Description Logic Reasoning</td>
	  		<td>-</td>
			<td>
				<a href="https://www.youtube.com/watch?v=UezNrMfOjqM"> ALCN Reasoning - Part III [Video]</a>
		  	</td>
			<td>				
		  	</td>
	  </tr>
	  <tr>
	  		<th colspan=5 align="center" style="vertical-align:middle;">Week 13</th>
	  </tr>
	  <tr>
	        <td >04-04-22</td>
	  		<td>aproblems in Description Logic</td>
	  		
			<td>-</td>
			<td>-</td>
			<td></td>
	  </tr>
	  	  <tr>
	        <td >05-04-22</td>
	  		<td>Reasoning with Description Logic</td>
	  		
			<td>-</td>
			<td>
				<a href="https://www.youtube.com/watch?v=2Wdm_uQB3iE">Problems/Solutions</a>
			</td>
			<td></td>
	  </tr>

	  <tr style="background-color:#ff9966">
	        <td ><b>11-04-22</b></td>
	  		<td><b>TEST III (OWL+DL + DL Reseaoning)</b> </td>
	  		
			<td></td>	
			<td></td>
			<td></td>
	  </tr>
	  
</div>
