---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="table table-striped table-bordered" id="schedule" style="margin-top: 20px">
    <br>
    <table class="table">
        <thead>
            <tr class="active">
                <th scope="col" ><b>Date</b></th>
	            <th scope="col" ><b>Title</b></th>
	            <th scope="col" ><b>Slides</b></th>	 
	            <th scope="col" ><b>Video</b></th>
	            <th scope="col" ><b>Extra Reading</b></th>
            </tr>
        </thead>
        <tbody>
        <tr>
                <th colspan=5 align="center" style="vertical-align:middle;">Week 1</th>
                <br>
        </tr>
            <tr>
                <td>Tue Sep 21</td>
                <td>1. Introduction; Machine Learning for Graphs <br> [<a href="slides/01-intro.pdf" target="_blank">slides</a>] </td>
                <td>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thu Sep 23</td>
                <td>2. Traditional Methods for ML on Graphs <br> [<a href="slides/02-tradition-ml.pdf" target="_blank">slides</a>]</td>
                <td></td>
                <td><a href="https://colab.research.google.com/drive/16tqEHKOLUgYvXKx1V3blfYGpQb1_09MG?usp=sharing" target="_blank">Colab 0</a>, <a href="https://colab.research.google.com/drive/1p2s0on6nibUYhJnONBWEAwpBlue37Tcc?usp=sharing" target="_blank"> Colab 1</a> <b><font color="green">out</font></b></td>
                <td></td>
            </tr>
            <tr>
                <td>Tue Sep 28</td>
                <td>3. Node Embeddings <br> [<a href="slides/03-nodeemb.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thu Sep 30</td>
                <td>4. Link Analysis: PageRank <br>  [<a href="slides/04-pagerank.pdf" target="_blank">slides</a>] </td>
                <td>
                </td>
                <td> <a href="homework/cs224w_hw1_fall_updated.pdf" > Homework 1 </a>  <b><font color="green">out</font></b></td>
                <td></td>
            </tr>

            <tr>
                <td>Tue Oct 5</td>
                <td>5. Label Propagation for Node Classification <br>  [<a href="slides/05-message.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thu Oct 7</td>
                <td>6. Graph Neural Networks 1: GNN Model <br> [<a href="slides/06-GNN1.pdf" target="_blank">slides</a>]  </td>
                <td></td>

                <td><a href="https://colab.research.google.com/drive/1BRPw3WQjP8ANSFz-4Z1ldtNt9g7zm-bv?usp=sharing" target="_blank">Colab 2</a> <b><font color="green">out</font></b></td>
                <td>Colab 1 <b><font color="red">due</font></b></td>
            </tr>
            <tr>
                <td>Tue Oct 12</td>
                <td>7. Graph Neural Networks 2: Design Space <br>[<a href="slides/07-GNN2.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thu Oct 14</td>
                <td>8. Applications of Graph Neural Networks <br> [<a href="slides/08-GNN-application.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td> <a href="homework/cs224w_hw2_fall_updated.pdf" > Homework 2 </a>  <b><font color="green"> out</font></b> <a href="https://drive.google.com/file/d/10nfgROfq_4xH10sd5oCuT8P4peTaNnHJ/view?usp=sharing" > LaTeX template</a> </td>
                <td>Homework 1 <b><font color="red">due</font></b></td>
            </tr>
            <tr>
                <td>Tue Oct 19</td>
                <td>9. Theory of Graph Neural Networks <br> [<a href="slides/09-theory.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td></td>
                <td>Project Proposal<b><font color="red"><br>due</font></b></td>
            </tr>
            <tr>
                <td>Thu Oct 21</td>
                <td>10. Knowledge Graph Embeddings <br> [<a href="slides/10-kg.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td> <a href="https://colab.research.google.com/drive/1bAvutxJhjMyNsbzlLuQybzn_DXM63CuE" target="_blank">Colab 3</a> <b><font color="green">out</font></b>

                </td>
                <td>Colab 2 <b><font color="red">due</font></b></td>
            </tr>
            <tr>
                <td>Tue Oct 26</td>
                <td>11. Reasoning over Knowledge Graphs <br> [<a href="slides/11-reasoning.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thu Oct 28</td>
                <td>12. Frequent Subgraph Mining with GNNs <br> [<a href="slides/12-motifs.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td> <a href="homework/cs224w_hw3_fall_updated.pdf" target="_blank">  Homework 3</a>  <b><font color="green">out</font></b> <a href="homework/main.tex" > LaTeX template</a>
                </td>
                <td>Homework 2 <b><font color="red">due</font></b></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td>Tue Nov 2</td>
                <td><b>NO CLASS - DEMOCRACY DAY</b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thu Nov 4</td>
                <td>13. GNNs for Recommender Systems <br> [<a href="slides/13-recsys.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td><a href="https://colab.research.google.com/drive/1X4uOWv_xkefDu_h-pbJg-fEkMfR7NGz9?usp=sharing" target="_blank">Colab 4</a> <b><font color="green">out</font></b></td>
                <td>Colab 3 <b><font color="red">due</font></b></td>
            </tr>
            <tr>
                <td>Tue Nov 9</td>
                <td>14. Community Structure in Networks <br> [<a href="slides/14-communities.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thu Nov 11</td>
                <td>15. Deep Generative Models for Graphs <br>  [<a href="slides/15-deep-generation.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td> <a href="https://colab.research.google.com/drive/17Pe4o_oSsD2J-wTb_xGtYJQsyCawK6sJ?usp=sharing" target="_blank">Colab 5</a>  <b><font color="green">out</font></b></td>
                <td>Homework 3 <b><font color="red">due</font></b></td>
            </tr>
            <tr>
                <td>Tue Nov 16</td>
                <td>16. Advanced Topics on GNNs <br>[<a href="slides/16-advanced.pdf" target="_blank">slides</a>]  </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thu Nov 18</td>
                <td>17. Scaling Up GNNs <br> [<a href="slides/17-scalable.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td></td>
                <td>Colab 4 <b><font color="red">due</font></b></td>
            </tr>
            <tr bgcolor="#F7F6F1">
                <td>Fri Nov 19</td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Exam</b> [<a href="slides/Exam_Preparation.pdf" target="_blank">Review slides</a>]  </td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td>Tue Nov 23</td>
                <td><b>NO CLASS - THANKSGIVING BREAK</b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr bgcolor="#ECEFF1">
                <td>Tue Nov 25</td>
                <td><b>NO CLASS - THANKSGIVING BREAK</b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tue Nov 30</td>
                <td>18. <b>Guest Lecture</b>: <a href="https://petar-v.com/" target="_blank">Petar Veličković</a>  <br>
                    [<a href="https://petar-v.com/talks/5G-CS224W.pdf" target="_blank">slides</a>]<br>
Note: No in-person class this day, please attend lecture on Zoom (see Ed for Zoom link).</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thu Dec 2</td>
                <td>19. Design Space of Graph Neural Networks <br>  [<a href="slides/20-conclusion.pdf" target="_blank">slides</a>] </td>
                <td></td>
                <td></td>
                <td>Colab 5 <b><font color="red">due</font></b></td>
            </tr>
            <tr>
                <td>Thu Dec 9</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Project Report <b><font color="red">due</font></b></td>
            </tr>
        </tbody>
    </table>
</div>